
<div class="container" style="background-color: aqua;">
	<div>
	<br> 	
	</div>
	  <div class="col-*-12">
		<marquee bgColor="orange" direction = "scrole" ><h3>ProBankCreate AccountPart</h3></marquee>	
	  </div>
	
	
	  <div class="col-*-12">
		<router-outlet></router-outlet>
	  </div>
	  
<div class="col-*-12">
	<div>
		<br>
	</div>
<nav>
	<button type="button"  class="btn btn-space btn-warning"><a routerLink="/addAddressDetails" routerLinkActive="active"><h4>addAddressDetails</h4></a></button>
	<!-- <a routerLink="/addCustomerDetails" routerLinkActive="active">addCustomerDetails</a> -->
	<button type="button" class="btn btn-warning btn-space"><a routerLink="/addAccountDetails" routerLinkActive="active"><h4>addAccountDetails</h4></a></button>
		<button type="button" class="btn btn-warning btn-space"><a routerLink="/getCreatedAccouuntDetails" routerLinkActive="active"><h4>DataOfYourAccount</h4></a>
	</button>
</nav>

</div>

</div>
